.page {
  background: #000000;
  min-height: 100vh;
  height: 100%;
}
.header {
  max-width: 880px;
  max-height: 74px;
  padding-top: 45px;
  margin: auto;
  border-bottom: 1px solid #545454;
  column-gap: 41px;
}
.header__logo {
  max-width: 173px;
  max-height: 33px;
  top: 45px;
  margin-bottom: 41px;
  left: 200px;
}

.container {
  display: flex;
  align-items: center;
  padding: 0%;
  gap: 15px;
}
.avatar__container {
  display: flex;
  justify-content: flex-start;
  max-width: 880px;

  align-items: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.avatar__name {
  font-family: "Inter";
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}

.edit {
  height: fit-content;
  background-color: transparent;
  border: 0;
}
.edit__button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
}

.avatar__title {
  width: 415px;
  height: 22px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.avatar__button {
  border: 1px solid white;
  padding: 15px;
  box-sizing: border-box;
  background-color: transparent;
  max-width: 150px;
  width: 100%;
  height: fit-content;
  margin-left: auto;
}

.avatar__button_icon {
  width: 22px;
  height: 22px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  max-width: 880px;
  margin: auto;
  row-gap: 20px;
  column-gap: 17px;
  margin-bottom: 67px;
}
.card {
  height: 361px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px;
}
.card__name {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__image {
  display: flex;
  justify-content: space-between;
  width: 282px;
  height: 282px;
  top: 329px;
  left: 200px;
  gap: 17;
  border-radius: 10px 10px 0px 0px;
}

.heart__button {
  width: 21px;
  height: 19px;
}

.footer {
  color: #545454;
  background-color: #000000;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;

  margin: auto;
  margin-bottom: 60px;
  max-width: 880px;
}

@media screen and (max-width: 1020px) {
}

@media screen and (max-width: 770px) {
  .avatar__container {
    display: flex;
    flex-direction: column;
    width: 282px;
    order: 1;
    align-items: center;
  }
  .avatar__title {
    text-align: center;
  }
  .avatar__button {
    display: flex;
    order: 2;
    width: 282px;
    height: 50px;
    top: 362px;
    left: 19px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    margin-left: 0;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    order: 3;
    justify-content: center;
    align-items: center;
  }

  .card__name {
    width: 246px;
    height: 23px;
  }
  .card__name_title {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 900;
  }
  .container {
    justify-content: center;
  }
}
